<div class="banner-container">
  <p>Link to Kepler's Graduation Ceremony Livestream will be uploaded on the "ceremony" page before the 23rd of May (day of event)!! Recording will be posted within 1 week!</p>
</div>