<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/paper.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/header.css">
  <link rel="stylesheet" href="/assets/css/footer.css">
  <link rel="stylesheet" href="/assets/css/banner.css">
  {% if stylesheet %}
    <link rel="stylesheet" href="{{ stylesheet }}">
  {% endif %}
  <link rel="icon" href="{{ pfpDir | default("/assets/files/pfp.ico")}}" type="image/x-icon">
  <title>{{ page_title }}</title>
</head>
<body>
  {% include "header.njk" %}
  {% include "banner.njk" %}

  <main>{{ content | safe }}</main>

  {% include "footer.njk" %}
</body>
</html>
