<header>
  <nav>
    <a href="/" class="pfp">
      <img src="../../assets/files/pfp.jpg" alt="Silas Schlax">
    </a>
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="nav-links">
      <a href="/photos/">Photo Gallery</a>
      <a href="/slideshow/">Slideshow</a>
      <a href="/ceremony/">Ceremony</a>
      <a href="/milestone/">Milestones</a>
      <a href="/archive/">Project Archive</a>
    </div>
  </nav>
</header>

<script src="/assets/js/header.js"></script>
