<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/paper.css">
  <link rel="stylesheet" href="/assets/css/header.css">
  <link rel="stylesheet" href="/assets/css/footer.css">
  <link rel="stylesheet" href="/assets/css/banner.css">

  <link href="https://cdn.jsdelivr.net/npm/prismjs@1.25.0/themes/prism-tomorrow.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.25.0/prism.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.25.0/components/prism-javascript.min.js"></script>


  <link rel="icon" href="/assets/files/pfp.ico" type="image/x-icon">
	<title>{{ page_title | default('404: Name Not Found') }}</title>
</head>
<body>
  {% include "header.njk" %}

  {% include "banner.njk" %}
  
  {% if content %}
    <div class="content-container">
      <div class="header-container">
        <p>{{ student | default('404: Student Not Found') }}</p>
        <p>{{ class | default('404: Class Not Found') | safe }}</p>
        <p>{{ instructor | default('404: Instructor Not Found') }}</p>
        <p>{{ date_sub | default('January 1, 0000') }}</p>
      </div>
      <h1>{{ title | default('404: Title Not Found') | safe }}</h1>
      <main>
        {{ content | default('404: Content Not Found') | safe }}
      </main>
      <div class="citation-container">
        {% for citation in citations %}
        <p>
          <sup>{{ loop.index }}</sup> {{ citation | safe }}
        </p>
      {% endfor %}
      </div>
      <div class="bibliography-container">
        {% if bibliography %}
          <h2>Bibliography</h2>
        {% endif %}
        {% for bibliography in bibliography %}
          <p>{{ bibliography | safe }}</p>
        {% endfor %}
      </div>
      <div class="button-container">
        <a href="{{ file }}" download class="download-button">{{ button_text | default('Download This Paper') }}</a>
      </div>
    </div>
  {% endif %}

{% include "footer.njk" %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    Prism.highlightAll();
  });
</script>

</body>
</html>