<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/paper.css">
  <link rel="stylesheet" href="/assets/css/header.css">
  <link rel="stylesheet" href="/assets/css/footer.css">
  <link rel="stylesheet" href="/assets/css/banner.css">
  <link rel="icon" href="/assets/files/pfp.ico" type="image/x-icon">
	<title>{{ page_title }}</title>
</head>
<body>
  {% include "header.njk" %}

  {% include "banner.njk" %}
  
  {% if content %}
    <div class="content-container">
      <div class="header-container">
        <p>{{ student }}</p>
        <p>{{ class }}</p>
        <p>{{ instructor }}</p>
        <p>{{ date_sub }}</p>
      </div>
      <h1>{{ title }}</h1>
      <main>
        {{ content | safe }}
      </main>
      <div class="citation-container">
        {% for citation in citations %}
        <p>
          <sup>{{ loop.index }}</sup> {{ citation | safe }}
        </p>
      {% endfor %}
      </div>
      <div class="bibliography-container">
        {% if bibliography %}
          <h2>Bibliography</h2>
        {% endif %}
        {% for bibliography in bibliography %}
          <p>{{ bibliography | safe }}</p>
        {% endfor %}
      </div>
      <div class="button-container">
        <a href="{{ file }}" download class="download-button">Download This Paper</a>
      </div>
    </div>
  {% endif %}

{% include "footer.njk" %}

</body>
</html>