.archive-category {
  background-color: #C2A68D;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  border-radius: 10px;
}

.archive-category h2 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #9F5F3B;
}

.archive-category ul li a {
  text-indent: 2em;
  font-size: 18px;
  margin: 0;
  line-height: 2;
  text-decoration: none;
  color: #3B2A2A;
}

.title {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
}

.archive-category--featured {
  margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
  .archive-category {
    width: 85%;
  }

  .archive-category h2 {
    font-size: 20px;
  }

  .title {
    font-size: 25px;
  }

  .archive-category ul li a {
    font-size: 16px;
  }
  
}