.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 100%;
  height: auto;
}

.image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.image-container .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 40px;
  z-index: 2; 
}

.content-container h1 {
  padding-top: 60px;
}
#first {
  padding-top: 0px;
}

.content-container h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  text-indent: 1em;
}

a {
  text-decoration: none;
  color: #8a573f;
}

a:hover {

  color: #8d6161;
  text-decoration: underline;
}

.location-time-container p{
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

.location-time-container {
  padding-bottom: 15px;
}

.location-time-container span {
  font-weight: bold;
  color: #6B5B3E;
}


.message-container--global {
  background-color: #F0E9DD;
  width: 75%;
  padding: 30px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 50px;
}

.message-container--single {
  max-width: 100%;
  min-width: 20%;
  background-color: #E0D5A1;
  border: 2px solid #9E8C6E;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 15px;
  float: left;
  clear: left;
}

.message-container--single--top {
  display: flex;
}

.message-container--single--top img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.message-container--single--top strong {
  font-size: 20px;
  color: #6B5B3E;
  display: block;
  margin-top: 5px;
  margin-left: -20px;
}

.message-container--single--top em {
  font-size: 15px;
  color: #85755E;
  display: block;
  margin-top: 12px;
  margin-left: -25px;
}

.message-container--single--msg {
  color: #4F5A44;
  display: block;
  max-width: 95%;
  margin-top: 0px;
  margin-left: 10px;
  margin-top: 5px;
}

.message-container--single--msg p {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  text-indent: 0;
}


@media (max-width: 768px) {
  .image-container .text {
    font-size: 30px;
    text-align: center;
  }

  .message-container--single--top img {
    width: 40px;
    height: 40px;
  }
  
  .message-container--single--top strong {
    font-size: 15px;
    margin-top: -5px;
    margin-left: -20px;
  }
  
  .message-container--single--top em {
    font-size: 12px;
    margin-top: 15px;
    margin-left: -90px;
  }
  
  .message-container--single--msg {
    margin-top: 0px;
    margin-left: 10px;
    margin-top: 5px;
  }
  
  .content-container h2 {
    font-size: 16px;
    text-indent: 1em;
  }

  .location-time-container p {
    text-indent: 1em;
  }
}