.form-container {
  margin: 0 auto;
  width: 50%;
  background-color: #E0D5A1;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
  color: #4F5A44;
}

#comments {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  background-color: lightgray;
  border-color: #6B4F36;
  border-width: 3px;
  border-radius: 5px;
}

#name {
  width: 50%;
  margin-top: 10px;
  background-color: lightgray;
  border-color: #6B4F36;
  border-width: 3px;
  border-radius: 5px;
}

#button {
  margin-top: 10px;
  height: 40px;
  width: 150px;
  background-color: #9E8C6E;
  color: white;
  border-color: #6B4F36;
  border-width: 3px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

#button:hover {
  background-color: #4F5A44;
}


@media (max-width: 768px) {
  .form-container {
    width: 80%;
  }
}
