.content-container {
  font-family: 'Times New Roman', Times, serif;
  background-color: #C2A68D;
  width: 75%;
  margin: 0 auto;
  border-radius: 9px;
  padding: 30px;
  margin-top: 30px;
}

h1, h2{
  font-size: 22px;
  text-align: center;
  font-display: bold;
}

h2 {
  font-size: 20px;
}


p {
  text-indent: 2em;
  font-size: 20px;
  margin: 0;
  line-height: 2;
}

li, ol, ul {
  margin-left: 18px;
  line-height: 1.25;
}


#center {
  text-align: center;
}

#spacer {
  height: 10px;
}

#notes {
  color: #4A3737;
  text-indent: 2em;
  margin-bottom: 3em;
}

.img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

#thirty {
  width: 30%;
}

#fifty {
  width: 50%;
}

#seventy {
  width: 70%;
}



pre {
  background-color: #4A3F35;
  padding: 15px;
  border-radius: 7px;
  overflow-x: auto;
}


.header-container p {
  text-align: right;
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

blockquote p {
  line-height: 1;
}

.no-indent {
  text-indent: 0;
}



sup {
  font-size: 0.75em;
  vertical-align: super;
}

.footnotes {
  font-size: 0.9em;
  margin-top: 2em;
  border-top: 1px solid #ccc;
  padding-top: 1em;
}

.footnotes ol {
  padding-left: 1em;
}

.footnotes a {
  text-decoration: none;
  color: #6B8E72;
}

.citation-container p {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

hr {
  border: 0;
  border-top: 2px solid #ccc;
  margin: 1em 0;
}

.bibliography-container {
  padding-left: 4em;
}

.bibliography-container h2 {
  font-size: 20px;
  text-align: center;
  font-display: bold;
  margin-top: 40px;
  line-height: 1.25;
  text-indent: -4em;
}

.bibliography-container p {
  font-size: 18px;
  margin: 0;
  text-indent: -2em;
  margin-bottom: 0.5em;
  word-wrap: break-word;
}

.button-container {
  text-align: center;
  margin-top: 1em;
  background-color: #D46E3B;
  width: 30%;
  margin: 0 auto;
  padding: 15px;
  margin-top: 50px;
  border-radius: 9px;
}

.button-container a {
  color: #4A3F35;
  font-size: 18px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .content-container {
    width: 85%;
    padding: 20px;
  }

  .button-container {
    width: 50%;
    padding: 10px;
  }
  p, h2 {
    font-size: 18px;
  }
  h {
    font-size: 20px;
  }
  
}