.slideshow {
  padding: 25px;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.slideshow iframe {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.video-title {
  font-size: 2em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #C2A68D;
}

.spacer {
  height: 25px;
}

#button {
  background-color: inherit;
  width: 50px;
  height: 50px;
  border: none;
} 

@media (max-width: 768px) {
  .slideshow {
    width: 98%;
    padding: 0;
  }
}